[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
sacred = "*"
scipy = "*"
matplotlib = "*"
gitpython = "*"
pymongo = "*"
sacredboard = "*"
memory-profiler = "*"
tqdm = "*"
numexpr = "*"

[dev-packages]

[requires]
python_version = "3.8"
